<div class="container">
    <div class="row">
        <div class="main-menu">
            <ul>
                <li>
                    <a href="/portal/grid">首页</a>
                </li>
                <li>
                    <a href="/portal/blog">博客条目</a>
                </li>
                <li>
                    <a href="/portal/about">关于我们</a>
                </li>
                <!--<li>
                    <a href="portal/singlePost">单一帖子</a>
                </li>-->
            </ul>
            <p>Just for you</p>
        </div>
    </div>
</div>