<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.mapper.system.SysResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzy.entity.system.SysResources">
        <id column="tid" property="tid" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
        <result column="url" property="url" />
        <result column="created_by" property="createdBy" />
        <result column="file_id" property="fileId" />
        <result column="status" property="status" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tid, name, title, description, created_at, updated_at, deleted_at, url, created_by, file_id, status, type
    </sql>
    <sql id="condition">
        <if test="type!=null and type!=''">
            ss.type = #{type}
        </if>
    </sql>
    <select id="queryCondition" resultType="com.wzy.entity.system.SysResources">
        SELECT ss.*,sf.name as fileName from sys_resources ss
        left join sys_file sf on ss.file_id = sf.tid
        where ss.updated_at is null
        <include refid="condition"/>
    </select>

</mapper>
