<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>在路上</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../../static/portal/css/bootstrap.css">
        <link rel="stylesheet" href="../../static/portal/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../../static/portal/css/fontAwesome.css">
        <link rel="stylesheet" href="../../static/portal/css/light-box.css">
        <link rel="stylesheet" href="../../static/portal/css/templatemo-style.css">
        <link rel="stylesheet" type="text/css" href="../../static/portal/assets/css/demo.css" />
        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
         <style>
             .grid-portfolio{
                 padding : 0px
             }
             .grid-portfolio .container{
                 padding : 0px;
                 width: auto;
             }
         </style>
        <script src="../../static/portal/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="./grid">在路上<!--<em>way</em>--></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>你 我 一路 同 行<!--<em>Highway</em>--></h1>
              <!--<p>FREE CSS TEMPLATE by <a href="#" rel="nofollow">templatemo</a></p>-->
              <p>分享点滴生活</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="../../static/portal/img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<!--<source src="../../static/portal/video/highway-loop.mp4" type="video/mp4" />-->
            <!--     <source src="../../static/portal/video/The-Surfers.mp4" type="video/mp4" />-->
                    <source src="../../static/portal/video/Dreamy-Basketball.mp4" type="video/mp4" />
          <!--     <source src="../../static/portal/video/Feeling-the-Air.mp4" type="video/mp4" />-->
       </video>
   </div>


   <div class="grid-portfolio" id="portfolio">
       <div class="container">
           <div class="loader">
               <div class="lds-ripple">
                   <div></div>
                   <div></div>
               </div>
           </div>
           <!-- coidea:loader END -->


           <!-- slideshow START -->
           <section class="slideshow">

               <!-- slideshow:navigation START -->
               <ul class="navigation">

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item active">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-1.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-2.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-3.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-4.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-5.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-6.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-7.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-8.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

                   <!-- slideshow:navigation:item START -->
                   <li class="navigation-item">
                       <span class="rotate-holder"></span>
                       <span class="background-holder" style="background-image: url(../../static/portal/assets/img/img-9.jpg);"></span>
                   </li>
                   <!-- slideshow:navigation:item END -->

               </ul>
               <!-- slideshow:navigation END -->


               <!-- slideshow:details START -->
               <div class="detail">

                   <!-- slideshow:details START -->
                   <div class="detail-item active">
                       <div class="headline">人生</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-1.jpg)"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">岁月</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-2.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">历史</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-3.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">孤独</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-4.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">坚强</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-5.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">love</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-6.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">意志</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-7.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">路途</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-8.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

                   <!-- slideshow:details START -->
                   <div class="detail-item">
                       <div class="headline">成长</div>
                       <div class="background" style="background-image: url(../../static/portal/assets/img/img-9.jpg);"></div>
                   </div>
                   <!-- slideshow:details END -->

               </div>
               <!-- slideshow:details END -->

           </section>
       </div>

<!--       <div class="container">-->
<!--           <div class="col-md-4 col-sm-6"  th:each="resource:${resources}">-->
<!--               <div class="portfolio-item">-->
<!--                   <div class="thumb">-->
<!--                       &lt;!&ndash;<a href="https://pan.baidu.com/s/15EfzOvBZao2XpbbDuligGg" data-lightbox="image-1">&ndash;&gt;-->
<!--                        <a th:href="${resource.url}" target="百度云资源" >-->

<!--                        &lt;!&ndash;<div th:text="${resource.url}"></div>&ndash;&gt;-->
<!--                            <div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1 th:text="${resource.name}" > </h1>-->
<!--                                <p th:text="${resource.title}"></p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            &lt;!&ndash;<img src="../../static/portal/img/portfolio_item_4.png">&ndash;&gt;-->
<!--                            &lt;!&ndash;<img src="../../file/showImage?path=" th:src="../../file/showImage?path=">&ndash;&gt;-->
<!--                            <img th:src="@{../../file/showImage?path={path}(path= ${resource.fileName})}" >-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--           &lt;!&ndash; <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_2.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>raclette <em>taxidermy</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_2.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_3.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>humblebrag <em>brunch</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_3.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_1.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>Succulents <em>chambray</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_1.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_5.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>freegan <em>aesthetic</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_5.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_6.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>taiyaki <em>vegan</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_6.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_7.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>Thundercats <em>santo</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_7.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="img/big_portfolio_item_8.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>wayfarers <em>yuccie</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_8.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6">-->
<!--                <div class="portfolio-item">-->
<!--                    <div class="thumb">-->
<!--                        <a href="../../static/portal/img/big_portfolio_item_9.png" data-lightbox="image-1"><div class="hover-effect">-->
<!--                            <div class="hover-content">-->
<!--                                <h1>disrupt <em>street</em></h1>-->
<!--                                <p>Awesome Subtittle Goes Here</p>-->
<!--                            </div>-->
<!--                        </div></a>-->
<!--                        <div class="image">-->
<!--                            <img src="../../static/portal/img/portfolio_item_9.png">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&ndash;&gt;-->
<!--            <div class="col-md-12">-->
<!--                <div class="load-more-button">-->
<!--                    <a href="#">加载更多</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2019 Company Name
    
    | QZ <a href="http://106.14.10.158:8085/" target="_blank" title="在路上">在路上</a></p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="../../static/portal/img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">您好<em>在路上</em></h3>
          <div class="close-btn"><img src="../../static/portal/img/close_contact.png" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">发送信息</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                <!--  <li>
                      <a href="./index">Home - Full-width</a>
                  </li>
                  <li>
                      <a href="masonry.html">Home - Masonry</a>
                  </li>-->
                  <li>
                      <a href="./grid">首页</a>
                  </li>
                  <li>
                      <a href="about.html">关于我们</a>
                  </li>
                  <li>
                      <a href="./blog">博客条目</a>
                  </li>
                  <li>
                      <a href="single-post.html">单一帖子</a>
                  </li>
              </ul>
              <p>努力只为你</p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../../static/portal/js/vendor/bootstrap.min.js"></script>
    
    <script src="../../static/portal/js/plugins.js"></script>
    <script src="../../static/portal/js/main.js"></script>
    <script src="../../static/js/common/common.js"></script>
    <script src="../../static/portal/assets/js/TweenMax.min.js"></script>
    <script src="../../static/portal/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../static/portal/assets/js/CSSPlugin.min.js"></script>
    <script src="../../static/portal/assets/js/TextPlugin.min.js"></script>
    <script src="../../static/portal/assets/js/demo.js"></script>
    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <script>
        $(document).ready(function () {
            var param = {
                current:1,
                size:6
            }
            syncPost("../api/user/queryAlluser",JSON.stringify(param),function(data){
              console.log(data)
            })
        });
        function go_source(a) {
            window.location.href = a
        }
    </script>
</body>
</html>