<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>On The Way</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../../static/portal/css/bootstrap.css">
        <link rel="stylesheet" href="../../static/portal/css/bootstrap-theme.css">
        <link rel="stylesheet" href="../../static/portal/css/fontAwesome.css">
        <link rel="stylesheet" href="../../static/portal/css/light-box.css">
        <link rel="stylesheet" href="../../static/portal/css/templatemo-style.css">
        <link rel="stylesheet" href="../../static/editor/css/editormd.css"/>
        <link rel="stylesheet" href="../../static/editor/examples/css/style.css"/>
<!--        <link rel="stylesheet" href="../../static/editor/css/editormd.preview.css" />-->
     <!--   <link type="text/css" rel="stylesheet" href="../../static/editor/lib/codemirror/theme/pastel-on-dark.css">
        <link type="text/css" rel="stylesheet" href="../../static/editor/lib/codemirror/codemirror.min.css">
        <link type="text/css" rel="stylesheet" href="../../static/editor/lib/codemirror/addon/dialog/dialog.css">
        <link type="text/css" rel="stylesheet" href="../../static/editor/lib/codemirror/addon/search/matchesonscrollbar.css">
        <link type="text/css" rel="stylesheet" href="../../static/editor/lib/codemirror/addon/fold/foldgutter.css">
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">-->
        <script src="../../static/portal/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">Gala<em>xy</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Single <em>Post</em></h1>
            </div>
        </div>
    </div>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">
                        <div id="#detailContent" class="col-md-12">
<!--                                <img th:src="@{../../file/showImage?path={path}(path= ${resource.fileName})}" >-->
<!--                                <img src="../../static/portal/img/blog_post_1.png" alt="">-->
                                   <!-- <h2 th:text="${detail.title}"></h2>
                                    <span><a href="#" th:text="${detail.name}"></a> / <a href="#" th:text="${detail.createdAt}"></a> / <a href="#" th:text="${detail.type}"></a></span>
                                    <p th:text="${detail.description}"><br><a href="blog.html">Back to Blog</a></p>
                                    <div class="tags-share">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="tags">
                                                    <li>Tags:</li>
                                                    <li><a href="#">life</a>,</li>
                                                    <li><a href="#">nature</a>,</li>
                                                    <li><a href="#">life is good</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="share">
                                                    <li>Share:</li>
                                                    <li><a href="#">facebook</a>,</li>
                                                    <li><a href="#">twitter</a>,</li>
                                                    <li><a href="#">behance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>-->

                            <div class="single-blog-post">
                                <!-- 文章start-->
                                <img src="img/blog_post_1.png" alt="">
                                <div class="text-content">
                                    <h2 th:text="${detail.title}"></h2>
                                    <span><a href="#" th:text="${detail.userId}">Admin</a> / <a href="#" th:text="${#dates.format(detail.createTime, 'yyyy-MM-dd HH:mm:ss')}">16 September 2018</a> / <a href="#" th:text="${detail.type}">Branding</a></span>
                                </div>
                            </div>
                            <!-- 文章内容-->
                            <div id="content-editormd" class="editormd-preview-theme-dark">
                                <textarea id="contents"  style="display:none;"  name="test-editormd-markdown-doc" th:text="${detail.contentMd}"></textarea>
                            </div>
                            <!-- 文章end-->
                            <div class="single-blog-post">
                                <br><br><a href="/portal/blog">返回主页</a>
                                <div class="tags-share">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="tags">
                                            <li>Tags:</li>
                                            <li><a href="#"  th:text="${detail.tagName}"></a>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="share">
                                            <li>Share:</li>
                                            <li><a href="#">facebook</a>,</li>
                                            <li><a href="#">twitter</a>,</li>
                                            <li><a href="#">behance</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="text-align: left">
                <div class="side-bar">
                    <div class="search">
                        <fieldset>
                            <input name="search" type="text" class="form-control" id="search" placeholder="Search..." required="">
                        </fieldset>
                    </div>
                    <div class="archives">
                        <div class="sidebar-heding">
                            <h2>Archives</h2>
                        </div>
                        <ul>
                            <li><a href="#">> 2018 September (4)</a></li>
                            <li><a href="#">> 2018 August (16)</a></li>
                            <li><a href="#">> 2018 July (5)</a></li>
                            <li><a href="#">> 2018 May (3)</a></li>
                            <li><a href="#">> 2018 February (27)</a></li>
                            <li><a href="#">> 2017 December (18)</a></li>
                            <li><a href="#">> 2017 November (12)</a></li>
                        </ul>
                    </div>
                    <div class="recent-posts">
                        <div class="sidebar-heding">
                            <h2>Recent Posts</h2>
                        </div>
                        <ul style="padding: 0px">
                            <li><a href="single-post.html">
                                <img src="img/recent_post_1.png" alt="Recent Post 1">
                                <div class="text">
                                    <h6>Duis mollis orci</h6>
                                    <span>15 September 2018</span>
                                </div>
                            </a></li>
                            <li><a href="single-post.html">
                                <img src="img/recent_post_2.png" alt="Recent Post 2">
                                <div class="text">
                                    <h6>Etiam quis tem</h6>
                                    <span>10 August 2018</span>
                                </div>
                           </a> </li>
                            <li><a href="single-post.html">
                                <img src="img/recent_post_3.png" alt="Recent Post 3">
                                <div class="text">
                                    <h6>Proin at augue</h6>
                                    <span>16 July 2018</span>
                                </div>
                           </a> </li>
                        </ul>
                    </div>
                    <div class="categories">
                        <div class="sidebar-heding">
                            <h2>Categories</h2>
                        </div>
                        <ul>
                            <li><a href="#">> Lifestyle (7)</a></li>
                            <li><a href="#">> Branding (9)</a></li>
                            <li><a href="#">> Nature (14)</a></li>
                            <li><a href="#">> Work Stuff (6)</a></li>
                            <li><a href="#">> Science (5)</a></li>
                        </ul>
                    </div>
                    <div class="latest-gallery">
                        <div class="sidebar-heding">
                            <h2>Latest Gallery</h2>
                        </div>
                        <ul>
                            <li><a href="#"></a><img src="img/latest_gallery_1.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_2.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_3.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_4.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_5.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_6.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_7.png" alt=""></a></li>
                            <li><a href="#"></a><img src="img/latest_gallery_8.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer-way"></footer>

      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Highway</em></h3>
          <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <!--目录-->
    <section class="overlay-menu"></section>


    <script src="../../static/editor/examples/js/jquery.min.js"></script>
    <script src="../../static/js/common/common.js"></script>
    <script src="../../static/portal/js/vendor/bootstrap.min.js"></script>

    <script src="../../static/portal/js/plugins.js"></script>
    <script src="../../static/portal/js/main.js"></script>

    <script src="../../static/editor/editormd.js"></script>
    <script src="../../static/editor/lib/marked.min.js"></script>
    <script src="../../static/editor/lib/prettify.min.js"></script>
    <script src="../../static/editor/lib/raphael.min.js"></script>
    <script src="../../static/editor/lib/underscore.min.js"></script>
    <script src="../../static/editor/lib/sequence-diagram.min.js"></script>
    <script src="../../static/editor/lib/flowchart.min.js"></script>
    <script src="../../static/editor/lib/jquery.flowchart.min.js"></script>
 <!--   <script src="../../static/editor/lib/codemirror/codemirror.min.js"></script>
    <script src="../../static/editor/lib/codemirror/modes.min.js"></script>
    <script src="../../static/editor/lib/codemirror/addons.min.js"></script>-->
<!--    <script id="-cdnjs-cloudflare-com-ajax-libs-KaTeX-0-3-0-katex-min" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>-->
    <script type="text/javascript">

        $(document).ready(function () {
            /*editormd.markdownToHTML("content-editormd", {
                htmlDecode: "style,script,iframe", //可以过滤标签解码
                emoji: true,
                taskList: true,
                tex: true,               // 默认不解析
                flowChart: true,         // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true,
            });*/
            $("#footer-way").load("/public/footer.html")
            $(".overlay-menu").load("/public/catalog.html")
            // $("#right_meun").load("/public/right.html")
            editormd = editormd.markdownToHTML("content-editormd", {
                // markdown        :  $("#contents").text(),//markdwon内容
                htmlDecode      : "style,script,iframe",  //  //可以过滤标签解码
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    </script>
</body>
</html>