<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <link rel="stylesheet" href="../../static/../../static/assets/css/normalize.css">
<link rel="stylesheet" href="../../static/../../static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/../../static/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/../../static/assets/css/themify-icons.css">
<link rel="stylesheet" href="../../static/../../static/assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="../../static/../../static/assets/css/flag-icon.min.css"><link rel="stylesheet" href="../../static/../../static/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../../static/../../static/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="../../static/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>用户名</label>
                            <input id="userName" type="userName" class="form-control" placeholder="UserName">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input id="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <!--<div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>-->
                        <button  class="btn btn-success btn-flat m-b-30 m-t-30" onclick="login()">Sign in</button>
                        <!--<div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                            </div>
                        </div>-->
                        <div class="register-link m-t-15 text-center">
                            <div class="error"><span class="error-tip">用户名或密码错误</span></div>
                            <p>Don't have account ? <a href="#"> 点击注册</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="../../static/assets/js/popper.min.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <script src="../../static/assets/js/jquery.matchHeight.min.js"></script>
    <script src="../../static/assets/js/main.js"></script>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/jquery.cookie.js"></script>
    <script src="../../static/assets/js/jquery.validate.min.js"></script>
    <script src="../../static/assets/js/common/common.js"></script>
     <script>
         function login() {
             var data = JSON.stringify({
                 "userName": $("#userName").val(),
                 "password": $("#password").val()
             });
             if (!JSON.parse(data).userName || !JSON.parse(data).password) {
                 $(".error-tip").text("请填写用户名或密码");
                 $(".error").css("visibility", "inherit");
             } else {
                 $(".error").css("visibility", "hidden");
             }
             $.ajax({
                 url: "/api/user/login",
                 type: "post",
                 data: data,
                 contentType: 'application/json; charset=UTF-8',
                 beforeSend: function(xhr) {
                     xhr.setRequestHeader(TOKEN_KEY, getToken());
                 },
                 dataType: "json",
                 success: function (data) {
                     debugger
                     if (data.code === 200) {
                         $.cookie("sessionId", data.data.session);
                         $(".error").css("visibility", "hidden");
                         //企业id为0代表没有企业
                         /*if (data.data.user.enterpriseId === 0) {
                             window.location.href = "./registerIndex";
                         } else {
                             window.location.href = "./home";
                         }*/
                         // setToken(data.data.token)
                         window.location.href = "./index";
                     } else {
                         $(".error-tip").text("用户名或密码错误");
                         $(".error").css("visibility", "inherit");
                     }
                 }
             });
         }
     </script>
</body>
</html>
